In [ ]:
from ml_market.data import fetch_ohlcv, load_sector_data, load_macro_data
from ml_market.features import compute_all_features
import numpy as np
import pandas as pd

In [4]:
stocks = pd.read_csv('../data/stocks.csv')
sector = pd.read_csv('../data/sector.csv')
macro = pd.read_csv('../data/macro.csv')
full_data = pd.read_csv('../data/full.csv')

display(stocks.head())
display(sector.head())
display(macro.head())
display(full_data.head())

,date,ticker,open,high,low,close,volume
0,2020-01-02,AAPL,71.476607,72.528589,71.223267,72.468269,135480400
1,2020-01-02,AMZN,93.750000,94.900497,93.207497,94.900497,80580000
2,2020-01-02,GOOGL,66.958686,67.965240,66.863343,67.965240,27278000
3,2020-01-02,META,205.483256,208.504623,205.006201,208.494690,12077100
4,2020-01-02,MSFT,150.758649,152.610135,150.331386,152.505692,22622100

         date      close  xlk_ret_1d  xlk_vol_20  xlk_mom_10
0  2020-01-02  88.833038         NaN         NaN         NaN
1  2020-01-03  87.834282   -0.011243         NaN         NaN
2  2020-01-06  88.043549    0.002383         NaN         NaN
3  2020-01-07  88.005501   -0.000432         NaN         NaN
4  2020-01-08  88.947212    0.010701         NaN         NaN

,date,spy_close,spy_ret_1d,spy_vol_20,spy_mom_10,qqq_close,qqq_ret_1d,qqq_vol_20,qqq_mom_10,tlt_close,...,tlt_vol_20,tlt_mom_10,dxy_close,dxy_ret_1d,dxy_vol_20,dxy_mom_10,vix_close,vix_ret_1d,vix_vol_20,vix_mom_10
0,2020-01-02,298.578613,NaN,NaN,NaN,208.848969,NaN,NaN,NaN,116.306862,...,NaN,NaN,96.849998,NaN,NaN,NaN,12.47,NaN,NaN,NaN
1,2020-01-03,296.317719,-0.007572,NaN,NaN,206.935928,-0.009160,NaN,NaN,118.097992,...,NaN,NaN,96.839996,-0.000103,NaN,NaN,14.02,0.124298,NaN,NaN
2,2020-01-06,297.448212,0.003815,NaN,NaN,208.269211,0.006443,NaN,NaN,117.427399,...,NaN,NaN,96.669998,-0.001755,NaN,NaN,13.85,-0.012126,NaN,NaN
3,2020-01-07,296.611847,-0.002812,NaN,NaN,208.240250,-0.000139,NaN,NaN,116.850136,...,NaN,NaN,96.980003,0.003207,NaN,NaN,13.79,-0.004332,NaN,NaN
4,2020-01-08,298.192657,0.005330,NaN,NaN,209.805450,0.007516,NaN,NaN,116.077644,...,NaN,NaN,97.300003,0.003300,NaN,NaN,13.45,-0.024656,NaN,NaN

,date,ticker,open,high,low,close_x,volume,ret1d,ret5d,ret10d,...,vix_close,vix_ret_1d,vix_vol_20,vix_mom_10,stock_vs_sector,stock_vs_spy,qqq_vs_spy,regime_vol,regime_trend,regime_momentum
0,2020-10-15,AAPL,115.369216,117.779215,114.815304,117.303047,112559200,-0.003961,0.049926,0.033565,...,26.969999,0.021591,0.041301,0.010112,0.000547,-0.002725,-0.005475,high,neutral,neutral
1,2020-10-15,AMZN,164.600494,167.794006,164.000000,166.932495,104468000,-0.007450,0.046418,0.036442,...,26.969999,0.021591,0.041301,0.010112,-0.002943,-0.006214,-0.005475,high,neutral,neutral
2,2020-10-15,GOOGL,76.696018,78.031806,76.528677,77.240761,31210000,-0.005098,0.048563,0.045413,...,26.969999,0.021591,0.041301,0.010112,-0.000590,-0.003862,-0.005475,high,neutral,neutral
3,2020-10-15,META,265.960429,267.391608,262.054515,265.085815,15416100,-0.018762,0.011222,0.000338,...,26.969999,0.021591,0.041301,0.010112,-0.014255,-0.017526,-0.005475,high,neutral,neutral
4,2020-10-15,MSFT,207.772102,210.892028,206.728924,210.222107,22733100,-0.005433,0.043119,0.033889,...,26.969999,0.021591,0.041301,0.010112,-0.000926,-0.004197,-0.005475,high,neutral,neutral